:root{
  --primary: rgb(225, 219, 207);
  --secondary: rgb(131, 0, 0);
  --text: #121212;
  --white:#ffffff;
  --black: 0, 0, 0;
}

main{
    height: 5000px;
}

/*Header*/
header{
    top: 0;
}
header .img{
    background-image: url(../img/ag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    background-color: var(--secondary);
    top: 0;
    left: 0;
    clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 5em));
    border-width: 0 1rem 0;
    border-color: var(--white);
    border-style: solid;
}
header .img::before{
    background-color: rgba(var(--black), .45);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
header .img ul{
    bottom: 12%;
}
/*Header*/

/*Utilities*/
.bg-custom-primary{
    background-color: var(--primary);
}
.bg-custom-secondary{
    background-color: var(--secondary);
}
.fe-medium{
    font-weight: 500;
}
.text-color{
    color: var(--text);
}