:root{
  --primary: rgb(225, 219, 207);
  --secondary: rgb(131, 0, 0);
  --text: #121212;
  --white:#ffffff;
  --black: 0, 0, 0;
}

/* Scroll */
::-webkit-scrollbar {
    width: 0.313rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*Scroll*/

/*Main*/
main{
    width: 95%!important;
}
/*Main*/

/*Header*/
header{
    top: 0;
}
header img{
    border: .125rem dashed var(--secondary);
}
header .img{
    background-image: url(../img/ag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    background-color: var(--secondary);
    top: 0;
    left: 2px;
    clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 5em));
    border-width: 0 .85rem 0;
    border-color: var(--white);
    border-style: solid;
}
header .img::before{
    background-color: rgba(var(--black), .55);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
header .img div{
    bottom: 12%;
}
/*Header*/

/*Contenido*/
#contenido{
    height: calc(100vh - 11.2rem);
    overflow-x: hidden;
    overflow-y: auto;
}
#contenido h2{
    border-bottom: .063rem dashed var(--secondary);
    top: -1px;
    z-index: 1;
}
#contenido ul li i{
    font-size: 1rem;
    position: relative;
    bottom: 2px;
}
/*Contenido*/

/*About me*/
#about-me{
    margin: 0 -1rem;
}
/*About me*/

/*Portafolio*/
#portafolio .btn{
    background-color: var(--secondary);
    color: var(--white);
}
#portafolio .btn:hover{
    color: var(--text);
    background-color: transparent;
    border-color: var(--secondary);
}
/*Portafolio*/

/*Habilidades*/
.custom-progress{
    height: .5rem;
}
/*Habilidades*/

/*Utilities*/
.bg-custom-primary{
    background-color: var(--primary);
}
.bg-custom-secondary{
    background-color: var(--secondary);
}
.fw-medium{
    font-weight: 500;
}
.text-color{
    color: var(--text);
}
.title{
    box-shadow: 0.313rem 0 0 var(--secondary) inset;
}